*.swp
.vscode
.history
.DS_Store
.vscode
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#dthan ignore some libft files
libft/src/ft_isalnum.c
libft/src/ft_isalpha.c
libft/src/ft_isdigit.c
libft/src/ft_isprint.c
libft/src/ft_putnbr.c
libft/src/ft_putnbr_fd.c
